.container {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: block;
  padding: 15px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
  text-align: center;
  background-color: #3ba058;
  color: #ffffff;
}
